body {
    background-color: darkslategrey;
    color: gainsboro;
}
hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
}
hr.solid {
    border-top: 3px solid #bbb;    
}
#landing {
    border-color: green;
    background-color: olive;
    border: 5px solid black;
    color: aliceblue;
    text-align: center;
    padding: 10px;
    margin: 10vw;
    font-size: 2rem;
}
#navigation-bar {
    position: sticky;
    top: 0px;
    text-align: center;
    background-color: pink;
    font-size: 1.5rem;
}
.main-column {
    background-color: darkolivegreen;
    padding: 20px;
    border-radius: 10px;
        
    margin: 20px 20vw 10px 20vw;
}
@media (max-width: 850px) {
    .main-column {
        width: 90%;
        margin: 20px 0vw 10px 0vw;
        background-color: royalblue;
    }
}
.blog-title {

}

.welcome-message {

}
.entry-post {

}
.fancy-text {
    color: red;
    background-color: blueviolet;
}
.blog-pic {
    
    width: 100%;
    height: auto;
    
}
.table-container {
    margin: auto;
    background: violet;
}
th, td {
    border: 1px solid black;
    width: 33%;
}

.xy-gene-table {
    margin: auto;
    width: 80%;
    text-align:center;
    background:purple;
    border: 2px solid black;
}


.gallery {
    background-color: mediumseagreen;
    display: flex;
    flex-wrap: wrap; /* Allow wrapping onto new lines */
    align-items: center; /* Align items at the start */
    justify-content: space-evenly; /* Align items from the start horizontally */

    overflow: hidden; /* Hide overflow */
    gap: 10px; /* Space between items */
    padding: 5px; /* Padding around the container */
    border: 1px solid #ccc; /* Optional border for the container */
}

/* Flexbox Items (Images) */
.gallery img {
    background-color: honeydew;
    flex: 1 1 calc(16.66% - 10px); /* Adjust flex-basis for 6 images per row */
    max-width: calc(16.66% - 10px); /* Maximum width for each image */
    height: auto; /* Maintain aspect ratio */
}

/* Media Queries for Different Screen Sizes */
@media (max-width: 800px) {
    .gallery img {
        flex-basis: calc(33.33% - 10px); /* 3 images per row on smaller screens */
        max-width: calc(33.33% - 10px);
    }
}

@media (max-width: 500px) {
    .gallery img {
        flex-basis: calc(50% - 10px); /* 2 images per row on very small screens */
        max-width: calc(50% - 10px);
    }
}